{% extends 'main/base.html' %}
{% block description %}
  <meta name="description" content="Диски Момо">
{% endblock description %}
{% block title %}{{product.title}}{% endblock title %}
{% block nav %}
  {% include 'main/nav-noanim.html' %}
{% endblock nav %}
{% block body %}
<section class="bg-white dark:bg-gray-900">
  <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
      <img class="w-3/4 animate__animated animate__backInLeft dark:hidden" src="{{product.img.url}}" alt="dashboard image">
      <div class="mt-4 md:mt-0">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{product.title}}</h2>
          <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">{{product.description}}</p>
          <span class="hidden">{{product.amount}}</span>
          <span class="text-gray-800 lg:text-lg font-bold">{{product.price}}</span><br>
          <span id="warning" style="color: red;">Not enough goods; Max = {{product.amount}}</span>
          <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <button 
              id="add_to_cart" 
              type="submit" 
              class="inline-block text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
              Add to cart
            </button>
          </form> 
      </div>
  </div>
</section>
<script>
  var select = document.getElementById('id_quantity');
  select.classList.add(
    'inline-block',
    'bg-white', 
    'border-0', 
    'border-b',
    'border-gray-500', 
    'text-gray-900', 
    'text-sm',
    'focus:ring-gray-500',
    'focus:border-gray-500',
    'block',
    'w-1/4',
    'mt-2',
    'p-2.5',
    'dark:bg-gray-700',
    'dark:border-gray-600',
    'dark:placeholder-gray-400',
  );

  var amount = Number(document.getElementsByTagName('span')[2].innerHTML);
  var btn = document.getElementById('add_to_cart');
  var warning = document.getElementById('warning');
  warning.classList.add('hidden');
  
  if (amount == 0) {
    warning.classList.remove('hidden');
    warning.innerHTML = "No goods available";
    btn.classList.add('hidden');
  }

  document.querySelector("select").addEventListener('change', function (e) {
    val = Number(e.target.value);
    if (val <= amount) {
      warning.classList.add('hidden');     
      btn.classList.remove('hidden');      
    }else if(val > amount){
      warning.classList.remove('hidden');
      btn.classList.add('hidden');   
    }
  });
  
</script>
{% endblock body %}